<h1>
  Nothing special... yet
</h1>

<form id="create-game-form">
  <input type="hidden" name="latitude" value="0" /> <!-- change to text to see it again -->
  <input type="hidden" name="longitude" value="0" /><!-- change to text to see it again -->
  <button id="create-game-button" type="submit">Create Game</button>
</form>

<ul class="game-box" style="display:none">
  <li class="game-card" data-num="1" data-state="hide"></li>
  <li class="game-card" data-num="2" data-state="hide"></li>
  <li class="game-card" data-num="3" data-state="hide"></li>
  <li class="game-card" data-num="4" data-state="hide"></li>
  <li class="game-card" data-num="5" data-state="hide"></li>
  <li class="game-card" data-num="6" data-state="hide"></li>
  <li class="game-card" data-num="7" data-state="hide"></li>
  <li class="game-card" data-num="8" data-state="hide"></li>
</ul>

<!-- actual path is /public/js/game.js -->
<script src="/js/game.js"></script>